<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reserva de Vuelos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />   
	<link rel="stylesheet" href="http://jquerymobile.com/demos/1.0/docs/_assets/css/jqm-docs.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.js"></script>
	<script src="http://jquerymobile.com/demos/1.0/experiments/themeswitcher/jquery.mobile.themeswitcher.js"></script>
	<script src="http://jquerymobile.com/demos/1.0/docs/_assets/js/jqm-docs.js"></script>
	<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<script language=javascript>
       $(document).bind("mobileinit", function () {
             $.extend(  $.mobile , { 
               ajaxEnabled : false  });
       });


  </script>
</head>
<body>
	<div data-role="page" id="one">
		<%= link_to image_tag("fb_button.gif"), :controller => 'oauth', :action => 'start' %>

		<fb:login-button onlogin='window.location="/oauth/callback"' perms="email" ></fb:login-button>

<div style="float:right">
  <div style="float:left;padding-right:10px">
    <fb:login-button onlogin='window.location="/oauth/start"' perms="email" >
    </fb:login-button>
  </div>
  <div style="float:left">
  </div>
</div>

		<div data-role="header" data-theme="b">
		
			<h1>Reserva de Vuelos</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Home</a>
			<a  data-rel="back" data-icon="back" data-iconpos="notext" data-add-back-btn="true" class="ui-btn-right" data-back-btn-text="previous">Atrás</a>

		</div><!-- /header -->

		
		<div data-role="content"  class="ui-body ui-body-b">
			<%= yield %>
		</div>
		
		
		<div data-role="footer" class="footer-docs" data-theme="b">
				<p>&copy; DSD 2012-0 M1 QWERTY</p>
		</div>	
		
	</div>
</body>
</html>
